body{
    color: rgb(255, 255, 255);
    background: no-repeat url("https://images.ctfassets.net/177v1kh0db6l/1CfpfdU66FdG4clvtrlCEg/b250352891ba0e4804c5932b24f5a7a8/21011520_StarWarsProject_Snowdrop_Website_Starfield_1080x608.png");
    background-size: 200em;
    margin: auto;
    font: medium;
    font-style: times;
    text-align: center;
}
div#contact {
    color:rgba(255, 255, 255, 0.979);
    margin: 0%;
    margin-left: auto;
}
h2{
    color: rgb(255, 255, 255);
}
div#content {
    padding: 15em;
    padding-top: 0em;
    margin: auto;
}
ul{
    list-style: none;
}