*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right, #c7770091, rgb(0, 185, 176));
}
div#cover{
    width: 800px;
    background: rgb(255, 255, 255);
    margin: 25px auto;
    display: flex;
}
div#header{
    background: black;
    width: 250px;
    padding: 0 20px;
}